<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/tailwindstyle.css">
    <title>Document</title>
</head>

<body class="bg-fixed" style="background-image: url('./images/bg.jpeg');">
    <div class="min-h-screen text-white font-bold text-4xl font-serif content-center text-center">
        <h1 class="">WELOCOME OT OUR PAGE</h1>
        <a href="/user/register-patients"><span
                class="bg-blue-500 font-medium text-xl  p-1 px-3 rounded-xl hover:bg-white hover:text-blue-500">Register</span></a>
        <a href="/user/patients-list"><span
                class="bg-blue-500 font-medium text-xl  p-1 px-3 rounded-xl hover:bg-white hover:text-blue-500">Patient
                List</span></a>
        <div class="conatainer"></div>
    </div>
</body>

</html>